@model MVCGamesReviewWebsite.Models.DeveloperAnGameViewModel

@{
    ViewBag.Title = "Details";
}

<ul>
    <p><strong>@Model.AnGame.DevelopedBy.Name</strong></p>
</ul>



<h2>@Model.AnGame.Name</h2>

<h3>@Model.AnGame.Platform</h3>
<p>@Model.AnGame.Description</p>
<p><strong>@Model.AnGame.Genre.Name</strong></p>
<p><strong>@Model.AnGame.Genre.Description</strong></p>
<p><strong>@Model.AnGame.Price</strong></p>



