@model MVCGamesReviewWebsite.Models.DeveloperAnGameViewModel

@{
    ViewBag.Title = "Details";
}




<h1> @Model.AnGame.Name</h1>

<h3><strong><a href="~/Developers/Details/@Model.AnGame.DevelopedBy.DeveloperID">Made by @Model.AnGame.DevelopedBy.Name</strong></h3>

<h3>@Model.AnGame.Platform</h3>
<p>@Model.AnGame.Description</p>
<p><strong>@Model.AnGame.Genre.Name</strong></p>
<p><strong>@Model.AnGame.Genre.Description</strong></p>
<p><strong>@Model.AnGame.Price</strong></p>



