@model GameReview.Models.AnDeveloper

@{
    ViewBag.Title = "Details";
}



@foreach (var gameworkedon in @Model.GamesDeveloped)


{

    <img src="@gameworkedon.ImgSrc" alt="@gameworkedon.Name" align="right">

    <h2><u>Developer Details</u></h2>
    <h1> @Model.Name: @Model.Description</h1>



    <h3>Games Worked On:</h3>
    <h3><a href="~/AnGames/Details/@gameworkedon.GameId">Developed @gameworkedon.Name.</a></h3>


    <table class="table table-striped">
        <tr>
            <th>ReleaseDate</th>
            <th>Genre</th>
            <th>Score</th>

        </tr>

        <tr>
            <td>@gameworkedon.ReleaseDate</td>
            <td>@gameworkedon.Genre.Name</td>
            <td>@gameworkedon.Score</td>
        </tr>
    </table>


}
<p>Leave A comment?</p>
@using (Html.BeginForm("PostComment", "AnDevelopers", FormMethod.Post))
{
    <input type="text" name="AnComment" style="width:100%" ; height:100px />
    <input type="submit" value="Post Comment" class="btn btn-default">

}

<h3>Comments:</h3>
@foreach (var comment in @Model.ListComment)
{
    <li> @comment.AnUser.Email</li>
    <li> @comment.CommentText</li>
    using (Html.BeginForm("DeleteComment", "AnDevelopers", new { id = comment.CommentId }))
    {

        <input type="submit" value="DeleteComment" class="btn btn-default">

    }
    foreach (var commentreply in comment.CommentReplies)
    {
        <li>Reply:</li>
        <li>@commentreply.ReviewRepliedBy.Email</li>
        <li>@commentreply.CommentReplyText</li>
        using (Html.BeginForm("DeleteCommentReply", "AnDevelopers", new { id = commentreply.CommentReplyId }))
        {

            <input type="submit" value="DeleteCommentReply" class="btn btn-default">

        }
    }
    using (Html.BeginForm("PostCommentReply", "AnDevelopers", FormMethod.Post))
    {
        <input type="text" name="AnCommentReply" style="width:100%" ; height:100px />
        <input type="hidden" name="ACommentId" value="@comment.CommentId" />

        <input type="submit" value="Post Reply" class="btn btn-default">

    }
}
