@model GameReview.Models.AnGame

@{
    ViewBag.Title = "Details";
}

<h2>A Game Page!</h2>
<h1> @Model.Name</h1>
<img src="@Model.ImgSrc" alt="@Model.Name">
<h2><a href="~/AnDevelopers/Details/@Model.DevelopedBy.DeveloperId">Made by @Model.DevelopedBy.Name</a></h2>
<h3>Platform:@Model.Platform</h3>
<p>Description:@Model.Description</p>
<p>Genre:<strong>@Model.Genre.Name</strong></p>
<p>Genre:Description<strong>@Model.Genre.Description</strong></p>
<p>Price:£<strong>@Model.Price</strong></p>
<p>ReleaseDate:<strong>@Model.ReleaseDate</strong></p>
<p>Score:<strong>@Model.Score</strong></p>
<p>Leave A review?</p>
@using (Html.BeginForm("PostReview", "AnGames", FormMethod.Post))
{
    <input type="text" name="AnReview" style="width:100%" ; height:100px />
    <p>ReviewScore:</p>
    <input type="text" name="AnReviewScore" style="width:100%" ; height:100px />
    <input type="submit" value="Post Review" class="btn btn-default">

}

<h3>Reviews:</h3>
@foreach (var review in @Model.ListReview)
{
    <li> @review.AnUser.Email</li>
    <li> @review.ReviewText</li>
    using (Html.BeginForm("DeleteReview", "AnGames", new { id = review.ReviewId }))
    {

        <input type="submit" value="DeleteReview" class="btn btn-default">

    }
    foreach (var reviewreply in review.ReviewReplies)
    {
        <li>Reply:</li>
        <li>@reviewreply.ReviewRepliedBy.Email</li>
        <li>@reviewreply.ReviewReplyText</li>
        using (Html.BeginForm("DeleteReviewReply", "AnGames", new { id = reviewreply.ReviewReplyId }))
        {

            <input type="submit" value="DeleteReviewReply" class="btn btn-default">

        }
    }
    using (Html.BeginForm("PostReviewReply", "AnGames", FormMethod.Post))
    {
        <input type="text" name="AnReviewReply" style="width:100%" ; height:100px />
        <input type="hidden" name="AReviewId" value="@review.ReviewId" />

        <input type="submit" value="Post Reply" class="btn btn-default">

    }
}
