@model gamesreviewwebsite.Models.AnGame

@{
    ViewBag.Title = "Details";
}

<h1> @Model.Name</h1>
<img src="@Model.ImgSrc" alt="@Model.Name">
<h2><a href="~/AnDevelopers/Details/@Model.DevelopedBy.DeveloperId">Made by @Model.DevelopedBy.Name</h2>
<h3>Platform:@Model.Platform</h3>
<p>Description:@Model.Description</p>
<p>Genre:<strong>@Model.Genre.Name</strong></p>
<p>Genre:Description<strong>@Model.Genre.Description</strong></p>
<p>Price:£<strong>@Model.Price</strong></p>

<h3>Reviews:</h3>
@foreach (var review in @Model.ListReview)
{

    <li> @review.ReviewText</li>
    <li> @review.ReviewedBy.Email</li>
}
